@tailwind base;
@tailwind components;
@tailwind utilities;

input:-internal-autofill-selected {
  background-color: transparent !important;
}

/* h1 {
  font-size: 32px;
  font-weight: bold;
}

h2 {
  font-size: 20px;
  font-weight: bold;
}

h3 {
  font-size: 16px;
  font-weight: bold;
}

p {
  font-size: 16px;
} */
